.about {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 300px;
}

.hide.hide {
	height: 0px;
	overflow: hidden;
	padding: 0;
}

.hide:before {
	opacity: 0;
}
