@import "normalize";

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

::selection {
	background: rgba(#0e0735, 0.8);
	color: white;
}

body {
	line-height: 1.5;

	font-family: SuisseIntl-Regular, Arial, Helvetica, sans-serif;
}

a {
	display: inline-block;

	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}
